@import '../../variables.scss';

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.formContainer form {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form label {
  color: $font-color;
  font-family: $decorative-lite;
  font-size: 1.2em;
}

.form input {
  position: relative;
  height: 2.5em;
  width: 90%;
  font-size: 1.1em;
  padding: 0.5em 1.5em;
  border: none;
  background-color: #222222;
  color: $font-color;
  transition: ease-in-out 0.2s;
  -moz-appearance: none;
  appearance: none;
}

.form input:focus,
.form input:active {
  outline: none;
  border-bottom: 2px solid rgb(226, 1, 1);
  box-shadow: none;
}

.reqAlertContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 0;
  overflow: hidden;
  transition: height 0.15s ease-out;
}

.reqAlert {
  padding: 0.5em;
  border: 1px solid $secondary-color;
  //   border-radius: 5px;
}

.formGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1em 0;
}

.submitButton {
  width: 50%;
  padding: 1em;
  color: $font-color;
  border: none;
  border-radius: 0;
  background-color: $secondary-color;
  font-family: $decorative-lite;
  -moz-appearance: none;
  appearance: none;
  transition: ease-in-out 0.2s;
}

.submitButton:hover {
  background: rgb(230, 39, 39);
  -webkit-box-shadow: 5px 5px 12px -1px rgba(0, 0, 0, 0.8);
  box-shadow: 5px 5px 12px -1px rgba(0, 0, 0, 0.8);
}

.submitButton:active {
  background-color: $secondary-color;
}

.submitButton:disabled {
  background-color: rgb(80, 80, 80);
  cursor: not-allowed;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.responseDiv {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0;
  width: 90%;
  align-self: center;
  margin-top: 1em;
  transition: ease-in-out 0.2s;
}

.alert {
  padding: 0.5em;
  background: $primary-color;
  color: $font-color;
  border: 1px solid $secondary-color;
  width: 100%;
  text-align: center;
}

.spinner {
  color: $secondary-color;
}
