@import '../../variables.scss';

.assignmentInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.assignmentInfo h5 {
  text-align: center;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: height 0.2s ease-out;
  height: 0;
}

.imgContainer {
  width: 7em;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.linkContainer h5 {
  margin: 0;
}

.linkContainer a,
.linkContainer a:hover,
.linkContainer a:focus,
.linkContainer a:active {
  text-decoration: none;
  color: $font-color;
}

.burgerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  white-space: normal;
  margin: 0;
}
@include media('<small') {
  .wrapper {
    font-size: 14px;
  }

  .assignmentInfo h5 {
    padding: 1em;
  }

  .description {
    padding: 1em;
    width: 100%;
    text-align: justify;
    white-space: pre-line;
    hyphens: auto;
  }
}

@include media('>=small', '<medium') {
  .wrapper {
    font-size: 16px;
  }

  .assignmentInfo h5 {
    padding: 1em;
  }

  .description {
    padding: 2em 2em 0 2em;
    width: 100%;
    text-align: justify;
    white-space: pre-line;
    hyphens: auto;
  }
}

@include media('>=medium', '<large') {
  .wrapper {
    font-size: 16px;
    width: 45%;
  }

  .assignmentInfo h5 {
    padding: 1em;
  }

  .imgContainer {
    width: 10em;
    height: 15em;
  }

  .description {
    padding: 2em;
    width: 100%;
    text-align: justify;
    white-space: pre-line;
    hyphens: auto;
  }
}

@include media('>large') {
  .wrapper {
    font-size: 16px;
    width: 30%;
  }

  .assignmentInfo h5 {
    padding: 1em;
  }

  .imgContainer {
    width: 10em;
    height: 15em;
  }

  .description {
    padding: 2em;
    width: 100%;
    text-align: justify;
    white-space: pre-line;
    hyphens: auto;
  }
}
