@import '../../variables.scss';

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loadingMain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 10rem;
  background: $primary-color;
  color: $font-color;
  min-height: calc(100vh - 60px);
  opacity: 0;
  -webkit-animation: fadeIn 0.25s ease-in 0s 1 normal forwards;
  -moz-animation: fadeIn 0.25s ease-in 0s 1 normal forwards;
  animation: fadeIn 0.25s ease-in 0s 1 normal forwards;
}

.spinner {
  color: $secondary-color;
  height: 100px !important;
  width: 100px !important;
}

.wrapper {
  padding-top: 10rem;
  background: $primary-color;
  color: $font-color;
  min-height: calc(100vh - 60px);
  opacity: 0;
  -webkit-animation: fadeIn 0.25s ease-in 0s 1 normal forwards;
  -moz-animation: fadeIn 0.25s ease-in 0s 1 normal forwards;
  animation: fadeIn 0.25s ease-in 0s 1 normal forwards;
}

.wrapper h1,
.wrapper h2,
.wrapper h3,
.wrapper h4,
.wrapper h5,
.wrapper h6 {
  color: $font-color;
  font-family: $decorative-lite;
}

.wrapper h1 {
  font-size: 3em;
  font-family: $decorative;
}

.wrapper h2 {
  font-size: 2.5em;
}

.wrapper h3 {
  font-size: 2em;
}

.wrapper h4 {
  font-size: 1.5em;
}

.wrapper p {
  font-size: 1.1em;
  color: $font-color;
  font-family: $standard;
}

.wrapper hr {
  border-bottom: 1px solid $secondary-color;
  width: 90%;
}

.lessonInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lessonInfo h1 {
  text-align: center;
}

.description {
  white-space: normal;
}

.assignmentsContainer {
  margin-bottom: 3em;
}

.adminContainer {
  width: 100%;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@include media('<small') {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 14px;
  }

  .lessonInfo h1 {
    font-size: 2.5em;
    padding: 1em;
  }

  .description {
    padding: 1em;
    width: 100%;
    text-align: justify;
    white-space: pre-line;
    hyphens: auto;
  }
}

@include media('>=small', '<medium') {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .lessonInfo h1 {
    font-size: 2.5em;
    padding: 1em;
  }

  .description {
    padding: 1em;
    width: 100%;
    text-align: justify;
    white-space: pre-line;
    hyphens: auto;
  }
}

@include media('>=medium', '<large') {
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .lessonInfo h1 {
    font-size: 2.5em;
    align-self: flex-start;
    padding: 0.5em 1em;
  }

  .description {
    padding: 1em 2em;
    width: 100%;
    text-align: justify;
    white-space: pre-line;
    hyphens: auto;
  }

  .assignmentsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@include media('>large') {
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .lessonInfo h1 {
    font-size: 2.5em;
    align-self: flex-start;
    padding: 0.5em 2em;
  }

  .description {
    padding: 1em 5em;
    width: 100%;
    text-align: justify;
    white-space: pre-line;
    hyphens: auto;
  }

  .assignmentsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
