@import '../../variables.scss';

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wrapper {
  opacity: 0;
  -webkit-animation: fadeIn 0.18s ease-in 0s 1 normal forwards;
  -moz-animation: fadeIn 0.18s ease-in 0s 1 normal forwards;
  animation: fadeIn 0.18s ease-in 0s 1 normal forwards;
}

.form input,
.form textarea {
  border: none;
  background-color: #222222;
  color: $font-color;
  transition: ease-in-out 0.2s;
  -moz-appearance: none;
  appearance: none;
}

.form input:focus,
.form textarea:focus,
.form input:invalid,
.form textarea:invalid {
  outline: none;
  border-bottom: 1px solid #222222;
  box-shadow: none;
}

.form label {
  color: $font-color;
  font-family: $decorative-lite;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $primary-color;
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitButton {
  border: none;
  border-radius: 0;
  background-color: $secondary-color;
  font-family: $decorative-lite;
  -moz-appearance: none;
  appearance: none;
  transition: ease-in-out 0.2s;
}

.submitButton:hover {
  background: rgb(230, 39, 39);
  -webkit-box-shadow: 5px 5px 12px -1px rgba(0, 0, 0, 0.8);
  box-shadow: 5px 5px 12px -1px rgba(0, 0, 0, 0.8);
}

.submitButton:active {
  background-color: $secondary-color;
}

.responseDiv {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  align-self: center;
  overflow: hidden;
  height: 0;
  transition: ease-in-out 0.2s;
}

.alert {
  padding: 0.5em;
  background: $primary-color;
  color: $font-color;
  outline: none;
  border: 1px solid $secondary-color;
  border-radius: 5px;
  position: absolute;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-animation: fadeIn 0.18s ease-in 0s 1 normal forwards;
  -moz-animation: fadeIn 0.18s ease-in 0s 1 normal forwards;
  animation: fadeIn 0.18s ease-in 0s 1 normal forwards;
}

.spinner {
  color: $secondary-color;
}

@include media('<small') {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 16px;
  }
  .form {
    height: 85vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .heading {
    font-size: 1.5em !important;
  }

  .form label {
    font-size: 1.2em;
  }

  .form input,
  .form textarea {
    height: 2.5em;
    width: 90%;
    font-size: 1.1em;
    padding: 0.5em 1.5em;
  }
  .form input:active,
  .form textarea:active,
  .form input:focus,
  .form textarea:focus {
    border-bottom: 2px solid rgb(226, 1, 1);
  }

  .submitButton {
    height: 3em;
    width: 90%;
    color: $font-color;
    align-self: center;
    font-size: 1em;
  }
}

@include media('>=small', '<medium') {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 16px;
  }
  .form {
    height: 85vh;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .form label {
    font-size: 1.2em;
  }

  .form input,
  .form textarea {
    height: 2.5em;
    width: 90%;
    font-size: 1.1em;
    padding: 0.5em 1.5em;
  }
  .form input:active,
  .form textarea:active,
  .form input:focus,
  .form textarea:focus {
    border-bottom: 2px solid rgb(226, 1, 1);
  }

  .submitButton {
    height: 3em;
    width: 90%;
    color: $font-color;
    align-self: center;
    font-size: 1em;
  }
}

@include media('>=medium', '<large') {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 16px;
  }
  .form {
    height: 95vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .form label {
    font-size: 1.2em;
  }

  .form input,
  .form textarea {
    height: 2.5em;
    width: 90%;
    font-size: 1.1em;
    padding: 0.5em 1.5em;
  }
  .form input:active,
  .form textarea:active,
  .form input:focus,
  .form textarea:focus {
    border-bottom: 2px solid rgb(226, 1, 1);
  }

  .submitButton {
    height: 3em;
    width: 90%;
    color: $font-color;
    align-self: center;
    font-size: 1em;
    text-align: center;
  }
}

@include media('>large') {
  .wrapper {
    position: relative;
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }

  .heading {
    grid-column: 1/9;
    grid-row: 1;
    text-align: center;
  }

  .form {
    grid-column: 1/9;
    grid-row: 2/13;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .form label {
    font-size: 1.2em;
  }

  .form input,
  .form textarea {
    height: 2.5em;
    width: 70%;
    font-size: 1.1em;
    padding: 0.5em 1.5em;
  }
  .form input:active,
  .form textarea:active,
  .form input:focus,
  .form textarea:focus {
    border-bottom: 2px solid rgb(226, 1, 1);
  }

  .submitButton {
    height: 3em;
    width: 70%;
    color: $font-color;
    align-self: center;
    font-size: 1em;
  }

  .sideImg {
    display: flex;
    grid-column: 9/13;
    grid-row: 1/13;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/cymbals.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
  }
  .quote {
    color: rgb(187, 187, 187) !important;
    padding: 1em;
    font-size: 2.5em !important;
    align-self: center;
    justify-self: center;
  }
}
